[user]
	name = wcl
	email = 728467189@qq.com
[url "https://github.com/"]
	insteadof = git@github.com:
[url "https://"]
	insteadof = git://
[http]
	sslBackend = openssl
	proxy = 127.0.0.1:7890
[https]
	proxy = 127.0.0.1:7890
